.main{
	/*padding-top: 75px;*/
}

.bgimage {
	/*background-image: url('image/mainbg.png');*/
	background-size: 500px auto;
}

.fullscreen-section {
    height: 100vh; /* 100% of the viewport height */
    width: 100vw;  /* 100% of the viewport width */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: auto;
}

.logonavbar {
	vertical-align: middle;
	margin-right: 20px;
}

.marginadd {
	margin-right: 20px;
	margin-left: 20px;
}

body {
	  margin: 0;
	  font-family: peralta;
	  /*overflow: hidden; /* Hide scrollbars */
	   height: 100px;
	}
		
.topnav ul{
	list-style: none;
	background: #6c0033;
	text-align: center;
	padding: 0;
	margin: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.topnav li{
	display: inline-block;
	
}
.topnav a{
	text-decoration: none;
	color: #ead3f4;
	width: 100px;
	display: block;
	padding: 15px;
	font-size: 17px;
	transition: 0.4s;
}
.topnav a:hover{
	background: #c465b1;
	transition: 0.4s;
	  padding: 25px;
}

.topnav a.active {
  background-color: #c465b1;
  color: white;
}

.topnav2 ul{
	list-style: none;
	background: #6c0033;
	text-align: center;
	padding: 0;
	margin: 0;
	top: 0;
	width: 100%;
}

.topnav2 li{
	display: inline-block;
	
}
.topnav2 a{
	text-decoration: none;
	color: #ead3f4;
	width: 100px;
	display: block;
	padding: 15px;
	font-size: 17px;
	transition: 0.4s;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 99%;
   height: auto;
   text-align: right;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  background-image: url('image/mainbg.png');
   background-repeat: repeat;
     background-size: 25% 40%;
  transform: translateZ(-1px) scale(2,4);
}